* {
  padding: 0;
  margin: 0;
}
.top .top_title {
  padding: 4vw 0 5.3333vw 3.7333vw;
}
.top .top_title img {
  width: 2.4vw;
  height: 4.2667vw;
}
.top .top_title span {
  padding-left: 1.3333vw;
  font-size: 6.4vw;
  line-height: 5.0667vw;
  letter-spacing: 0.5333vw;
  color: #4d4d4d;
}
.top .select_title {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.3333vw;
}
.top .select_title span {
  height: 7.4667vw;
  line-height: 7.4667vw;
  font-size: 4.2667vw;
}
.top .select_title span:last-child::after {
  margin: auto;
  content: "";
  display: block;
  height: 1.0667vw;
  width: 6.6667vw;
  border-radius: 0.5333vw;
  background-image: linear-gradient(270deg, #ea433a 0%, #ed6f56 100%), linear-gradient(#f8f8f8, #f8f8f8);
}
.content {
  background-color: #f3f4f5;
  padding-top: 2.6667vw;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 25vw;
  right: 0;
  height: 100%;
}
.content .content_box {
  background: url("../img/组1@2x.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 93.8667vw;
  height: 26.6667vw;
  margin: 2.6667vw auto;
  position: relative;
}
.content .content_box .preferential_num {
  position: absolute;
  top: 4.5333vw;
  left: 4.3333vw;
}
.content .content_box .preferential_num p:first-child {
  color: #fff;
}
.content .content_box .preferential_num p:first-child span:first-child {
  font-size: 4.8vw;
}
.content .content_box .preferential_num p:first-child span:last-child {
  margin-left: -2.6667vw;
  font-size: 9.3333vw;
}
.content .content_box .preferential_num p:last-child {
  font-size: 2.6667vw;
  color: #fff;
  transform: scale(0.83);
  transform-origin: left;
}
.content .content_box .preferential_details {
  position: absolute;
  left: 32vw;
  top: 4.2667vw;
}
.content .content_box .preferential_details .preferential_details_text {
  display: flex;
  justify-content: space-between;
  width: 58vw;
}
.content .content_box .preferential_details .preferential_details_text span {
  line-height: 5.3333vw;
}
.content .content_box .preferential_details .preferential_details_text span:first-child {
  font-size: 4.5333vw;
}
.content .content_box .preferential_details .preferential_details_text span:last-child {
  font-size: 3.7333vw;
  color: #f0361f;
}
.content .content_box .preferential_details .validity {
  display: flex;
  height: 9.8667vw;
  margin-top: 3.3333vw;
  justify-content: space-between;
  align-items: center;
}
.content .content_box .preferential_details .validity .validity_left p {
  color: #666666;
  font-size: 3.2vw;
}
.content .content_box .preferential_details .validity .validity_left a {
  text-decoration: none;
  color: #666666;
  font-size: 2.6667vw;
  transform: scale(0.83);
  transform-origin: left;
}
.content .content_box .preferential_details .validity .validity_right {
  display: block;
  width: 17.6vw;
  height: 6.4vw;
  border-radius: 3.2vw;
  color: #fff;
  font-size: 3.2vw;
  text-align: center;
  line-height: 6.4vw;
}
.content .content_box .preferential_details .validity .exchange {
  background-image: linear-gradient(270deg, #ea433a 0%, #ed6f56 100%), linear-gradient(#e4007f, #e4007f);
  box-shadow: 0px 1px 2px 0px rgba(236, 100, 79, 0.35);
}
.content .content_box .preferential_details .validity .no_exchange {
  background-image: linear-gradient(#d7d7d7, #d7d7d7), linear-gradient(#e4007f, #e4007f);
}
